
.header-container {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
  .cardheader {
   background-image: url('/img/bg/bg.jpg');
    background-size: cover;
    height: 135px;
  }

  .initials{
    color: rgb(255, 255, 255); background-color: #aca5ad;
    cursor: pointer;
    display: inline-block; font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 36px; border-radius: 90px; width: 90px; height: 90px; line-height: 90px; text-align: center;
    text-transform: uppercase;
  } 

  .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;

    img {
      width: 100px;
      height: 100px;
      max-width: 100px;
      max-height: 100px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }

  .info {
    padding: 4px 8px 10px;
    .title {
      margin-bottom: 4px;
      font-size: 24px;
      line-height: 1;
      color: #262626;
      vertical-align: middle;
    }

    .desc {
      overflow: hidden;
      font-size: 12px;
      line-height: 20px;
      color: #737373;
      text-overflow: ellipsis;
    }
  }

} 
